<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="directxtex_desktop_win10" version="2020.11.12.1" targetFramework="native" />
  <package id="DXSDK_Missing" version="1.1.2" targetFramework="native" />
  <package id="fmt" version="7.0.1" targetFramework="native" />
  <package id="Microsoft.UI.Xaml" version="2.5.0" targetFramework="native" />
  <package id="Microsoft.Windows.CppWinRT" version="2.0.201201.7" targetFramework="native" />
  <package id="Microsoft.Windows.ImplementationLibrary" version="1.0.201120.3" targetFramework="native" />
</packages>